---
layout: page
title: Blog
permalink: /fr/blog/
redirect_from: /blog-fr/
in_menu: true
sort: 2
lang: fr
ref: blog
alternate: feed_fr.xml
---

Ne ratez aucune info, abonnez-vous au <a href="{{ site.baseurl }}/{{ page.alternate }}">flux RSS</a>!<br/>
Retrouvez les articles <a href="{{ site.baseurl }}{{ site.baseurl }}{{site.data.trad["blog_url"][page.lang]}}tags">triés par thème</a>.

<div class="posts">
	{% assign posts=site.documents | where:"lang", page.lang  | sort: 'date' | reverse %}
	{% for post in posts %}
			{% if post.external %}
				<article class="post-external">
						<div class="entry">
							{% if post.img %}<a href="{{ site.baseurl }}{{ post.url }}"><img align="left" style="width:50px; height:auto;" src="{{ site.baseurl }}/assets/post/{{post.img}}"/></a>{% endif %}
						</div>
					<a href="{{ post.external }}">{{ post.title }}</a> <small class="post-date">{% include date.html date=post.date %}</small>
					<div class="taglist_in_postlist">
						{% for tag in post.tags %}
							<a href="{{ site.baseurl}}/fr/blog/tags/#{{tag | slugify}}" class="post-tag post-tag-dark"> {{ site.data.taglang[tag][page.lang] }} </a>
						{% endfor %}
				</div>
				</article>
			{% else %}
			<article class="post">
				<h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a> <small class="post-date">{% include date.html date=post.date %}</small></h1>
					<p><div class="entry">
						{% if post.img %}<a href="{{ site.baseurl }}{{ post.url }}"><img align="left" src="{{ site.baseurl }}/assets/post/{{post.img}}"/></a>{% endif %}{{ post.excerpt | truncatewords: 25 }}
					</div>
				<a href="{{ site.baseurl }}{{ post.url }}" class="read-more">{{site.data.trad["readmore"][page.lang]}}</a></p>
		    <div class="taglist_in_postlist">
		      {% for tag in post.tags %}
		        <a href="{{ site.baseurl}}/fr/blog/tags/#{{tag | slugify}}" class="post-tag post-tag-dark"> {{ site.data.taglang[tag][page.lang] }} </a>
		      {% endfor %}
		    </div>
			</article>
			{% endif %}
   {% endfor %}
</div>
