---
layout: page
title: Tags
permalink: /blog/tags-fr/
lang: fr
ref: tags
---


{% assign stringtags = "" %}
{% assign posts = site.posts | where:"lang", page.lang %}
{% for post in posts %}
	{% assign stringtags_post = post.tags | join:'|' | append:'|' %}
	{% assign stringtags = stringtags | append:stringtags_post %}
{% endfor %}
{% assign tags_all = stringtags | split:'|' | sort %}

{% assign tags = "" %}
{% for tag in tags_all %}
	{% if tag != "" %}
		{% if tags == "" %}
			{% assign tags = tag | split:'|' %}
		{% endif %}
		{% unless tags contains tag %}
			{% assign tags = tags | join:'|' | append:'|' | append:tag | split:'|' %}
		{% endunless %}
	{% endif %}
{% endfor %}

{% for tag in tags %}
	<a href="#{{ tag | slugify }}"> {{ site.data.taglang[tag][page.lang] }} </a>
{% endfor %}

{% for tag in tags %}
	<h2 id="{{ tag | slugify }}">{{ site.data.taglang[tag][page.lang] }}</h2>
	<ul>
	{% assign posts = site.posts | where:"lang", page.lang %}
	 {% for post in posts %}
		 {% if post.tags contains tag %}
		 <li>
		 <h3>
		 <a href="{{ post.url }}">
		 {{ post.title }}
		 <small>{% include date.html date=page.date %}</small>
		 </a>
		 {% for tag in post.tags %}
			 <a class="tag" href="/blog/tags/#{{ tag | slugify }}">{{ site.data.taglang[tag][page.lang] }}</a>
		 {% endfor %}
		 </h3>
		 </li>
		 {% endif %}
	 {% endfor %}
	</ul>
{% endfor %}
