---
layout: page
title: Tags
permalink: /fr/blog/tags/
redirect_from: /blog/tags-fr/
lang: fr
ref: tags
---


{% assign stringtags = "" %}
{% assign posts = site.documents | where:"lang", page.lang | sort: 'date' %}
{% for post in posts %}
	{% assign stringtags_post = post.tags | join:'|' | append:'|' %}
	{% assign stringtags = stringtags | append:stringtags_post %}
{% endfor %}
{% assign tags_all = stringtags | split:'|' | sort %}

{% assign tags = "" %}
{% for tag in tags_all %}
	{% if tag != "" %}
		{% if tags == "" %}
			{% assign tags = tag | split:'|' %}
		{% endif %}
		{% unless tags contains tag %}
			{% assign tags = tags | join:'|' | append:'|' | append:tag | split:'|' %}
		{% endunless %}
	{% endif %}
{% endfor %}

<div class="rssfeed">
<a href="{{ site.baseurl }}/{{ page.alternate }}"><i class="fa fa-rss" aria-hidden="true" style="font-size:36px;color:orange"></i></a> Abonnez-vous au flux !
</div>
{% include subscribe-fr.html %}
<br/>

<div class="taglist">
{% for tag in tags %}
	<a href="#{{ tag | slugify }}" class="post-tag"> {{ site.data.taglang[tag][page.lang] }} </a>
{% endfor %}
</div>

<div class="pagetag">
{% for tag in tags %}
	<div class="post-tag" id="{{ tag | slugify }}">{{ site.data.taglang[tag][page.lang] }}</div>
	<ul>
	{% assign posts = site.documents | where:"lang", page.lang | sort: 'date' | reverse %}
	 {% for post in posts %}
		 {% if post.tags contains tag %}
		 {% if post.external %}
				 <li>
				{% if post.type == "blerifa" %}
				Sur BleRiFa : <a href="{{ post.external }}">{{ post.title }}</a>
				{% elsif post.type == "slides" %}
				Diapos : <a href="{{ post.external }}">{{ post.title }}</a>
				{% endif %}
				<small class="post-tag-date">{% include date.html date=post.date %}</small>
				</li>
		 {% else %}
			 <li>
			 <a href="{{ post.url }}">{{ post.title }}</a>
			 <small class="post-tag-date">{% include date.html date=post.date %}</small>
			 </li>
			{% endif %}
		 {% endif %}
	 {% endfor %}
	</ul>
{% endfor %}
</div>

<br/>
{% include subscribe-fr.html %}
<div class="rssfeed">
<a href="{{ site.baseurl }}/{{ page.alternate }}"><i class="fa fa-rss" aria-hidden="true" style="font-size:36px;color:orange"></i></a> Abonnez-vous au flux !
</div>
