---
layout: page
title: Tags
permalink: /blog/tags/
lang: en
ref: tags
---


{% assign stringtags = "" %}
{% assign posts = site.documents | where:"lang", page.lang | sort: 'date' %}
{% for post in posts %}
	{% assign stringtags_post = post.tags | join:'|' | append:'|' %}
	{% assign stringtags = stringtags | append:stringtags_post %}
{% endfor %}
{% assign tags_all = stringtags | split:'|' | sort %}

{% assign tags = "" %}
{% for tag in tags_all %}
	{% if tag != "" %}
		{% if tags == "" %}
			{% assign tags = tag | split:'|' %}
		{% endif %}
		{% unless tags contains tag %}
			{% assign tags = tags | join:'|' | append:'|' | append:tag | split:'|' %}
		{% endunless %}
	{% endif %}
{% endfor %}

<div class="taglist">
{% for tag in tags %}
	<a href="#{{ tag | slugify }}" class="post-tag"> {{ site.data.taglang[tag][page.lang] }} </a>
{% endfor %}
</div>

<div class="pagetag">
{% for tag in tags %}
	<div class="post-tag">{{ site.data.taglang[tag][page.lang] }}</div>
	<ul>
	{% assign posts = site.documents | where:"lang", page.lang | sort: 'date' | reverse %}
	 {% for post in posts %}
		 {% if post.tags contains tag %}
		 	{% if post.external %}
				<li>
			 <a href="{{ post.external }}">{{ post.title }}</a>
			 <small class="post-tag-date">{% include date.html date=post.date %}</small>
			 </li>
			{% else %}
			 <li>
			 <a href="{{ post.url }}">{{ post.title }}</a>
			 <small class="post-tag-date">{% include date.html date=post.date %}</small>
			 </li>
			{% endif %}
		 {% endif %}
	 {% endfor %}
	</ul>
{% endfor %}
</div>
