{%if include.gif == true %}
{% if include.size %}
<video loop autoplay class='embed-container' style="position: relative; height: 0; overflow: hidden; max-width: {{include.size}}; height: auto;">
{% else %}
<video loop autoplay class='embed-container' style="position: relative; height: 0; overflow: hidden; max-width: 100%; height: auto;">
{% endif %}
{% else %}
{% if include.size %}
<video controls class='embed-container' style="position: relative; height: 0; overflow: hidden; max-width: {{include.size}}; height: auto;">
{% else %}
<video controls class='embed-container' style="position: relative; height: 0; overflow: hidden; max-width: 100%; height: auto;">
{% endif %}
{% endif %}
   <source src="{{site.base_url}}/assets/video/{{include.id}}" type="video/ogg">
   {{site.data.trad["video_not_supported"][page.lang]}}
</video>
