<div class="tiles">
<div class="no-touch">
<div class="tilewrap">
{% assign customers=site.customer | sort: 'sort_nb'  %}
{% for customer in customers %}
<div class="box">
  <div class="boxInner">
    <a href="{{ customer.url_ }}"><img src="{{ site.baseurl }}/assets/customer/{{ customer.img }}" /></a>
    <div class="titleBox"><a href="{{ customer.url_ }}">{{ customer.name[page.lang] }}<br/>{{ customer.title[page.lang] }}</a></div>
  </div>
</div>
{% endfor %}
</div>
</div>
</div>
