/**
 * This file will not contains any variables. Variables be import before jekyll defaults, in ordre to override variables
 */

 /**
  * Resp table
  */

 .resptable {
 	width:100% ;
 	text-align:center;
 }

 .resp3 th {
 	width:33%
 }

 .resp3 td {
 	width:33%
 }

 .resp2 th {
 	width:50%
 }

 .resp2 td {
 	width:50%
 }

 .resp4 th {
 	width:25%
 }

 .resp4 td {
 	width:25%
 }

 .resp5 th {
 	width:20%
 }

 .resp5 td {
 	width:20%
 }

 @media screen and (max-width: 640px) {
 	.resptable td {
 		overflow-x: auto;
 		display: block;
 		width: 100%
 	}

 	.resptable th {
 		overflow-x: auto;
 		display: block;
 		width: 100%
 	}
 }


  /**
   * Lang
   */

  .lang {
      text-align: left;
      margin-top: 7px;
  }

  .lang_item {
      background-color: lighten($background-color, 5%);
      border-radius: 25px;
      width: 60px;
      padding-left: 10px;
      padding-right: 10px;
  }

  /**
   * Override footer and header
  */

  .site-footer {
      border-top: 1px solid $brand-color;
      padding: $spacing-unit 0;
  	background-color: darken($background-color, 5%);
  }

  .footer-col-wrapper {
      font-size: 15px;
      color: $grey-color-dark;
      margin-left: -$spacing-unit / 2;
      @extend %clearfix;
  }

  .rightalign {
    text-align: right;
  }

  .site-header {
      border-top: 5px solid $brand-color;
      border-bottom: 1px solid $brand-color;
      min-height: 56px;

      // Positioning context for the mobile navigation icon
      position: relative;
  }

  .page-content {
  	padding-bottom: 0px;
  }

  /**
   * Images
  */
  img {
      max-width: 100%;
      vertical-align: middle;
      margin-left: 10px;
      margin-right: 10px;
  }

  /**
   * Posts
   */
  article .post {
      background-color: lighten($background-color, 5%);
      border-radius: 25px;
      padding: 10px;
      margin-top: 10px;
      margin-bottom: 10px;
      min-height: 150px;
  }


  /**
   * Posts External
   */
  article .post-external {
      background-color: lighten($background-color, 10%);
      border-radius: 25px;
      padding: 10px;
      margin-top: 10px;
      margin-bottom: 10px;
      min-height: 55px;
  }


  /**
   * Latest News
  */
  .latest_news {
  	background-color: darken($background-color, 3%);
  	padding-bottom : 10px;
  }

/**
  * Cards
*/
.card1 td:nth-child(1) {
   background-color: darken($background-color, 5%);
   border-radius: 5px;
   text-align: center;
   padding: 5px;
}

.card2 td:nth-child(2) {
     background-color: darken($background-color, 5%);
     border-radius: 5px;
     text-align: center;
     padding: 5px;
}

.card3 td:nth-child(3) {
   background-color: darken($background-color, 5%);
   border-radius: 5px;
   text-align: center;
   padding: 5px;
}

.card4 td:nth-child(4) {
   background-color: darken($background-color, 5%);
   border-radius: 5px;
   text-align: center;
   padding: 5px;
}
