/**
 * This file will not contains any variables. Variables be import before jekyll defaults, in ordre to override variables
 */

 /**
  * Resp table
  */

 .resptable {
 	width:100% ;
 	text-align:center;
 }

 .resp3 th {
 	width:33%
 }

 .resp3 td {
 	width:33%
 }

 .resp2 th {
 	width:50%
 }

 .resp2 td {
 	width:50%
 }

 .resp4 th {
 	width:25%
 }

 .resp4 td {
 	width:25%
 }

 .resp5 th {
 	width:20%
 }

 .resp5 td {
 	width:20%
 }

 @media screen and (max-width: 640px) {
 	.resptable td {
 		overflow-x: auto;
 		display: block;
 		width: 100%
 	}

 	.resptable th {
 		overflow-x: auto;
 		display: block;
 		width: 100%
 	}
 }


  /**
   * Lang
   */

  .lang {
      text-align: left;
      margin-top: 7px;
  }

  .lang_item {
      background-color: lighten($background-color, 5%);
      border-radius: 25px;
      width: 60px;
      padding-left: 10px;
      padding-right: 10px;
  }

  /**
   * Override footer and header
  */

  .site-footer {
      border-top: 1px solid $brand-color;
      padding: $spacing-unit 0;
  	background-color: darken($background-color, 5%);
  }

  .footer-col-wrapper {
      font-size: 15px;
      color: $grey-color-dark;
      margin-left: -$spacing-unit / 2;
      @extend %clearfix;
  }

  .rightalign {
    text-align: right;
  }

  .site-header {
      border-top: 5px solid $brand-color;
      border-bottom: 1px solid $brand-color;
      min-height: 56px;

      // Positioning context for the mobile navigation icon
      position: relative;
  }

  .page-content {
  	padding-bottom: 0px;
  }

  /**
   * Images
  */
  img {
      max-width: 100%;
      vertical-align: middle;
      margin-left: 10px;
      margin-right: 10px;
  }

  /**
   * Posts
   */
  article .post {
      background-color: lighten($background-color, 15%);
      border-radius: 25px;
      padding: 10px;
      margin-top: 10px;
      margin-bottom: 10px;
      min-height: 150px;

      .post-date {
        display: inline-block;
        font-size: 80%;
        color: darken($background-color, 20%);
        margin: 0;
        padding: 0;
      }
  }


  /**
   * Posts External
   */
  article .post-external {
      background-color: lighten($background-color, 5%);
      border-radius: 25px;
      padding: 10px;
      margin-top: 10px;
      margin-bottom: 10px;
      min-height: 55px;

      .post-date {
        display: inline-block;
        font-size: 80%;
        color: darken($background-color, 20%);
        margin: 0;
        padding: 0;
      }
  }


  /**
   * Latest News
  */
  .latest_news {
  	background-color: darken($background-color, 3%);
  	padding-bottom : 10px;
  }

/**
  * Cards
*/
.card1 td:nth-child(1) {
   background-color: darken($background-color, 5%);
   border-radius: 5px;
   text-align: center;
   padding: 5px;
}

.card2 td:nth-child(2) {
     background-color: darken($background-color, 5%);
     border-radius: 5px;
     text-align: center;
     padding: 5px;
}

.card3 td:nth-child(3) {
   background-color: darken($background-color, 5%);
   border-radius: 5px;
   text-align: center;
   padding: 5px;
}

.card4 td:nth-child(4) {
   background-color: darken($background-color, 5%);
   border-radius: 5px;
   text-align: center;
   padding: 5px;
}

.card1_dark td:nth-child(1) {
   background-color: darken($background-color, 10%);
   border-radius: 5px;
   text-align: center;
   padding: 5px;
}

.card2_dark td:nth-child(2) {
     background-color: darken($background-color, 10%);
     border-radius: 5px;
     text-align: center;
     padding: 5px;
}

.card3_dark td:nth-child(3) {
   background-color: darken($background-color, 10%);
   border-radius: 5px;
   text-align: center;
   padding: 5px;
}

.card4_dark td:nth-child(4) {
   background-color: darken($background-color, 10%);
   border-radius: 5px;
   text-align: center;
   padding: 5px;
}



/** Pure table is from https://github.com/yahoo/pure/ **/

.pure-table {
    /* Remove spacing between table cells (from Normalize.css) */
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    border: 1px solid #cbcbcb;
}

.pure-table caption {
    color: #000;
    font: italic 85%/1 arial, sans-serif;
    padding: 1em 0;
    text-align: center;
}

.pure-table td,
.pure-table th {
    border-left: 1px solid #cbcbcb;/*  inner column border */
    border-width: 0 0 0 1px;
    font-size: inherit;
    margin: 0;
    overflow: visible; /*to make ths where the title is really long work*/
    padding: 0.5em 1em; /* cell padding */
}

/* Consider removing this next declaration block, as it causes problems when
there's a rowspan on the first cell. Case added to the tests. issue#432 */
.pure-table td:first-child,
.pure-table th:first-child {
    border-left-width: 0;
}

.pure-table thead {
    background-color: #e0e0e0;
    color: #000;
    text-align: left;
    vertical-align: bottom;
}

/*
striping:
   even - #fff (white)
   odd  - #f2f2f2 (light gray)
*/
.pure-table td {
    background-color: transparent;
}
.pure-table-odd td {
    background-color: #f2f2f2;
}

/* nth-child selector for modern browsers */
.pure-table-striped tr:nth-child(2n-1) td {
    background-color: #f2f2f2;
}

/* BORDERED TABLES */
.pure-table-bordered td {
    border-bottom: 1px solid #cbcbcb;
}
.pure-table-bordered tbody > tr:last-child > td {
    border-bottom-width: 0;
}


/* HORIZONTAL BORDERED TABLES */

.pure-table-horizontal td,
.pure-table-horizontal th {
    border-width: 0 0 1px 0;
    border-bottom: 1px solid #cbcbcb;
}
.pure-table-horizontal tbody > tr:last-child > td {
    border-bottom-width: 0;
}

/*
	disqus
*/

#disqus_thread {
	width: 80%;
}

/*

Header img

*/

#header_img {
	width:98%
}
