.post-tag {
  display: inline-block;
  background-color: lighten($background-color, 5%);
  padding: 0 .5rem;
  margin-right: .5rem;
  margin-top: .2rem;
  margin-bottom: .2rem;
  border-radius: 4px;

  &:before {
   content: "\f02b";
   font-family: "FontAwesome";
   padding-right: .5em;
  }

  &:hover {
    text-decoration: none;
    background: $brand-color;
    color: $background-color;
  }

}

.post-tag-dark {
  background-color: $background-color;
}

.pagetag {
  a {
    text-decoration: none;
  }

  ul {
    padding-top: 10px;
  }

  .post-tag-date {
    display: inline-block;
    font-size: 80%;
    color: darken($background-color, 20%);
    margin: 0;
    padding: 0;
  }

}

.taglist {
  padding-bottom: 20px;
  @media (min-width: 38em) {
    font-size: 0.9rem;
    .post-tag {
      margin: .2em .3em;
    }
  }
}

.taglist_in_postlist {
  @media (min-width: 38em) {
    font-size: 0.9rem;
    .post-tag {
      margin: .2em .3em;
    }
  }
}
